*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
li, a {
    cursor: pointer;
    text-decoration: none;
}
a {color: unset;}         
a:visited {color:unset;}
a:active {color:unset;} 
body {
    font-family: 'Montserrat', sans-serif;
    background-color: #f9f9f9;
}
.title-product {
    display: flex;
    justify-content: center;
    margin-top: 30px;
    text-transform: uppercase;
}
.d-flex {
    display: flex;
}

.d-center {
    display: flex;
    align-items: center;
    justify-content: center;
}


.header {
    width: 100%;
    background-color: #212529
}

.logo {
    position: relative;
}
.menu {display: flex;
    align-items: center;
    margin-left: auto;}
.logo img {
    vertical-align: middle;
    border-style: none;
}

.menu ul {
    display: flex;
    list-style-type: none;
    justify-content: space-between;
}

.menu ul li {
    font-weight: 400;
    padding: 39px 20px;
    display: block;
    font-size: 16px;
    font-family: "Rubik", sans-serif;
    color: white;
    position: relative;
}
.menu ul li:hover ul.sub-makeup {
    display: flex;
}
.menu ul li:hover ul.sub-skincare {
    display: flex;
}

.menu ul li:hover ul.sub-haircare {
    display: flex;
}
.menu ul li:hover {
    color:red
}
.menu ul.sub-makeup {
    flex-direction: column;
    position: absolute;
    background-color: #212529;
    top: 96px;
    z-index: 1;
    display: none;
}
ul.sub-makeup li {
    padding: 15px;
}
.menu ul.sub-skincare{flex-direction: column;
    position: absolute;
    background-color: #212529;
    top: 96px;
    z-index: 1;
    display: none;}
ul.sub-skincare li{padding: 15px;}

.menu ul.sub-haircare{flex-direction: column;
    position: absolute;
    background-color: #212529;
    top: 96px;
    z-index: 1;
    display: none;}
ul.sub-haircare li{padding: 15px;}
button {
    font-family: "Prompt", sans-serif;
    color: #fff;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 1px;
    white-space:nowrap;
    text-align: center;
    padding: 10px 10px;
    margin-right: 20px;
    background:#C5A266;
    border: none;
}

button:hover {background-color: #212529;}

.contact-button {
    display: flex;
    justify-content: center;
    align-items: center;
}
.title{widows: 50%;
padding-right:25px;

}
.title .sub-title {
    font-size: 30px;
    line-height: 1.2;
    font-weight: 700;
    columns: #212529;
    margin-bottom: 44px;
    position: relative;
    padding-right: 15px;
    justify-content: center;
    padding-top: 30px;
    display: flex;
    color: white;
}

.banner{background-image: url("https://www.lorealparisusa.com/~/media/images/lop/home/products/makeup/sliders/loreal-paris-makeup-marquee-camila-cabello-desktop.jpg");
    background-repeat: no-repeat;
    width:100%;
    height: 455px;
}
.list1 , .list2, .list3{display: flex;
    justify-content: space-around;
    margin-bottom: 30px;
    }
.list1 .item , .list2 .item, .list3 .item{
    padding: 15px 0 0 0;
    background: #fff;
    box-shadow: 0 20px 20px rgba(0,0,0,.05);
    border-radius: 10px;
    width: 300px;
    }

    .infor{
        flex-direction: column;
    }
    .title-product{margin-bottom: 30px;}
.sub-makeup, .sub-skincare, .sub-haircare{width: 100%;}

.site-footer
{
  background-color:#26272b;
  padding:45px 0 20px;
  font-size:15px;
  line-height:24px;
  color:#737373;
}
.site-footer hr
{
  border-top-color:#bbb;
  opacity:0.5
}
.site-footer hr.small
{
  margin:20px 0
}
.site-footer h6
{
  color:#fff;
  font-size:16px;
  text-transform:uppercase;
  margin-top:5px;
  letter-spacing:2px
}
.site-footer a
{
  color:#737373;
}
.site-footer a:hover
{
  color:#3366cc;
  text-decoration:none;
}
.footer-links
{
  padding-left:0;
  list-style:none
}
.footer-links li
{
  display:block
}
.footer-links a
{
  color:#737373
}
.footer-links a:active,.footer-links a:focus,.footer-links a:hover
{
  color:#3366cc;
  text-decoration:none;
}
.footer-links.inline li
{
  display:inline-block
}
.site-footer .social-icons
{
  text-align:right
}
.site-footer .social-icons a
{
  width:40px;
  height:40px;
  line-height:40px;
  margin-left:6px;
  margin-right:0;
  border-radius:100%;
  background-color:#33353d
}
.copyright-text
{
  margin:0
}
@media (max-width:991px)
{
  .site-footer [class^=col-]
  {
    margin-bottom:30px
  }
}
@media (max-width:767px)
{
  .site-footer
  {
    padding-bottom:0
  }
  .site-footer .copyright-text,.site-footer .social-icons
  {
    text-align:center
  }
}
.social-icons
{
  padding-left:0;
  margin-bottom:0;
  list-style:none
}
.social-icons li
{
  display:inline-block;
  margin-bottom:4px
}
.social-icons li.title
{
  margin-right:15px;
  text-transform:uppercase;
  color:#96a2b2;
  font-weight:700;
  font-size:13px
}
.social-icons a{
  background-color:#eceeef;
  color:#818a91;
  font-size:16px;
  display:inline-block;
  line-height:44px;
  width:44px;
  height:44px;
  text-align:center;
  margin-right:8px;
  border-radius:100%;
  -webkit-transition:all .2s linear;
  -o-transition:all .2s linear;
  transition:all .2s linear
}
.social-icons a:active,.social-icons a:focus,.social-icons a:hover
{
  color:#fff;
  background-color:#29aafe
}
.social-icons.size-sm a
{
  line-height:34px;
  height:34px;
  width:34px;
  font-size:14px
}
.social-icons a.facebook:hover
{
  background-color:#3b5998
}
.social-icons a.twitter:hover
{
  background-color:#00aced
}
.social-icons a.linkedin:hover
{
  background-color:#007bb6
}
.social-icons a.dribbble:hover
{
  background-color:#ea4c89
}
@media (max-width:767px)
{
  .social-icons li.title
  {
    display:block;
    margin-right:0;
    font-weight:600
  }
}

.my-footer {
    display: flex;
}
.my-footer .col-md-6 {
    width: 50%;
    padding-right: 40px;
}
.my-footer .col-md-3 {
    width: 25%;
}